.accordion__item, .accordion__header {
  display: flex; }
  .accordion__item {
    flex-direction: row; }

.accordion__header:before {
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 1.1em;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  color: inherit; }

.accordion {
  width: 100%; }
  .accordion__item {
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    padding: .25rem 0; }
    .accordion__item + .accordion__item {
      border-top: 1px solid #ECEFF1; }
  .accordion__header, .accordion__body, .accordion__footer {
    flex-basis: 100%; }
    .accordion__header h4, .accordion__header div, .accordion__body h4, .accordion__body div, .accordion__footer h4, .accordion__footer div {
      font-size: 1rem;
      font-weight: normal;
      color: #000; }
  .accordion__header, .accordion__body, .accordion__footer {
    padding: .25rem 0; }
  .accordion__header {
    cursor: pointer; }
    .accordion__header:before {
      content: 'arrow_drop_down'; }
  .accordion__footer {
    justify-content: space-between; }
    .accordion__footer .btn {
      font-size: .75rem; }
      .accordion__footer .btn + .btn {
        margin-left: .25em; }
  .accordion__body, .accordion__footer {
    display: none; }
  .accordion__item--active .accordion__header:before {
    content: 'arrow_drop_up'; }
  .accordion__item--active .accordion__body,
  .accordion__item--active .accordion__footer {
    animation: fadeIn .3s;
    display: flex; }
  @media screen and (max-width: 999px) {
    .accordion__body, .accordion__footer {
      flex-basis: 50%; }
    .accordion__footer {
      justify-content: flex-end; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
