.prices .pricing__level .level__cta__button {
  display: inline-flex;
  justify-content: center;
  align-items: center; }

.prices .pricing__level .level__cta__button {
  margin: 0;
  padding: .5em 1em;
  background-color: #006064;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-family: 'Lexend Deca', Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  transition: all .25s; }
  .prices .pricing__level .level__cta__button .icon {
    margin-right: .2em; }
  .prices .pricing__level .level__cta__button:hover, .prices .pricing__level .level__cta__button:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    transform: translateY(-1px); }
  .prices .pricing__level .level__cta__button:disabled {
    background-color: #78909C; }
  .prices .pricing__level .level__cta__button {
    background-color: #00E676; }

.prices {
  display: flex;
  justify-content: space-between;
  align-items: stretch; }
  .prices .pricing__level {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: #CFD8DC;
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px; }
    .prices .pricing__level .level__title {
      text-align: center;
      flex-grow: 0; }
    .prices .pricing__level .level__description {
      flex-grow: 2; }
    .prices .pricing__level .level__cta {
      text-align: center; }
  @media screen and (min-width: 1000px) {
    .prices .pricing__level {
      flex-basis: 30%;
      max-width: 30%;
      width: 30%; } }
