.link-list__row {
  display: flex; }
  .link-list__row {
    flex-direction: row; }
  .link-list__row {
    align-items: center; }

.link-list {
  margin: 0.75rem 0; }
  .link-list__row {
    justify-content: space-between;
    position: relative;
    padding: 0.5rem;
    margin: 0.25rem 0; }
    .link-list__row:nth-child(odd) {
      background-color: #CFD8DC; }
    .link-list__row:before, .link-list__row:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      width: 0;
      background-color: #006064;
      transition: all .2s; }
    .link-list__row:before {
      left: -2px; }
    .link-list__row:after {
      right: -2px; }
    .link-list__row:hover:before, .link-list__row:hover:after {
      width: 5px; }
    .link-list__row:hover:before {
      left: -10px; }
    .link-list__row:hover:after {
      right: -10px; }
  .link-list__key a, .link-list__url a {
    color: #FF5722; }
    .link-list__key a:hover, .link-list__url a:hover {
      color: #006064; }
  .link-list__key, .link-list__action {
    flex-basis: 20%;
    min-width: 20%; }
  .link-list__url {
    flex-basis: 60%;
    min-width: 60%; }
  .link-list__action {
    text-align: right; }
  @media screen and (max-width: 999px) {
    .link-list .link-list__row {
      flex-wrap: wrap; }
    .link-list .link-list__key,
    .link-list .link-list__url {
      flex-basis: 50%;
      min-width: 50%; }
    .link-list .link-list__url {
      text-align: right; }
    .link-list .link-list__action {
      flex-basis: 100%;
      min-width: 100%;
      margin-top: 1rem; } }
