if app_data && app_data.urls
    .accordion
        each url, key in app_data.urls
            .accordion__item
                .accordion__header
                    h4= key
                .accordion__body
                    = url
                .accordion__footer
                    a.btn.btn--small(href='/' + key)
                        i.icon link
                        | Go to URL
                    a.btn.btn--warning.btn--small(href='#',data-delete-url=key)
                        i.icon warning
                        | Delete
    script(src='/js/accordion.js')
    link(rel='stylesheet', href='/css/accordion.css')
else
    p No links created yet.
