extends ./layout/page.pug

block content
    form.form
        div#url-container.form__section
            label(for="url") URL to shorten:
            input.form__field.form__field--fill(type="text", id="url", placeholder="URL to shorten...")
        div#shortened.form__section
            label(for="result") Shortened URL:
            span https://shrl.cc/
            input#result.form__field.form__field--display(type="text", value=suggestion)
        div.form__section
            button.form__button.form__button--fill(type="submit") Create shortened link

block scripts
    script(src="/js/home.js")
