doctype html
html
    head
        title SHRL
    body
        header
        main
            form
                input(type="text", id="url")
                button(type="submit") Shorten
        footer
        link(rel="stylesheet", href="/public/css/style.css")
