doctype html
html
    head
        title SHRL
    body
        header
            h1 Shrl
        main
            section
                form.form
                    div#url-container.form__section
                        label(for="url") URL to shorten:
                        input(type="text", id="url", placeholder="URL to shorten...")
                    div#shortened.form__section
                        label(for="result") Shortened URL:
                        span https://shrl.cc/
                        input#result.form__field.form__field--display(type="text", value=suggestion)
                    div.form__section
                        button(type="submit") Create shortened link
        footer
        link(rel="stylesheet", href="/css/index.css")
        script(src="/js/app.js")
