extends ./layout/page.pug

block content
    if  keyInvalid
        h2 Invalid key
    else
        h2 Not found 

    hr

    if key
        if keyInvalid
            p The key #[b= key] is not a valid key!
        else
            p Couldn't find a link named #[b= key]!

    hr

    p
        a(href='/') Back to SHRL.cc
