doctype html
html
    head
        title SHRL: Redirecting to #{hostname}
        meta(http-equiv="refresh", content="5," + url)
    body
        header
            h1 Shrl
        main
            p
                span.preamble Redirecting to
                a.url(href=url) !{displayUrl}
        footer
        link(rel="stylesheet", href="/css/redirect.css")
