extends ./layout/page.pug

block head
    if success
        meta(http-equiv='refresh', content='7,' + href)

block content
    p
        if success
            span.preamble Redirecting to
            a.url(href=href) !{displayUrl}
        else
            span.error #{title}
