extends ./layout/page.pug
block content
    h2= userProfile.displayName
        span= userProfile.nickname
    p
        img(src=userProfile.picture, alt='Profile image')
    p
        a(href='/') Back to SHRL.cc

