extends ./layout/page.pug

block content
    h2
        img(src=userProfile.picture, alt='Profile image')
        = userProfile.displayName

    hr

    h3 My links
    if app_data && app_data.urls
        .link-list
            each url, key in app_data.urls
                .link-list__row
                    .link-list__key
                        a(href='/' + key)= key
                    .link-list__url
                        a(href=url)= url
                    .link-list__action
                        a.btn.btn--warning.btn--small(href='#',data-delete-url=key)
                            i.icon warning
                            | Delete
    else
        p No links created yet.

    hr

    div
        p
            a(href='/') Back to SHRL.cc

