if app_data && app_data.urlPreview && app_data.urlPreview.length > 0
    .accordion
        each item in app_data.urlPreview
            .accordion__item(data-delete-container-for=item.key)
                .accordion__header
                    h4= item.key
                .accordion__body
                    = item.value
                .accordion__footer
                    a.btn.btn--small(href='/' + item.key)
                        i.icon link
                        = __('btn.go-to-link:Go to URL')
                    a.btn.btn--warning.btn--small(href='#',data-delete-url=item.key)
                        i.icon warning
                        = __('btn.delete:Delete')
    script(src='/js/accordion.js')
else
    p= __('accordion.phrase.nolinks:No links created yet')
