extends _layout.pug

block content
    if  keyInvalid
        h2= __('notfound.title.invalid:Invalid key')
    else
        h2= __('notfound.title.notfound:Not found') 

    hr

    if key
        if keyInvalid
            p The key #[b= key] is not a valid key!
        else
            p Couldn't find a link named #[b= key]!

    hr

    p
        a(href='/')= __('btn.back-to-homepage')
