extends _layout.pug

block head
    if success
        meta(http-equiv='refresh', content='7,' + href)

block content
    p.redirect
        if success
            span.preamble Redirecting to
            a.url(href=href) !{displayUrl}.
        else
            span.error #{title}

block styles
    link(rel='stylesheet', href='/css/redirect.css')
