$color-black: #000;
$color-white: #fff;

$color-body: #00838F;
$color-link: #FFAB91;
$color-grey: #ECEFF1;

$color-action: #006064;
$color-disabled: #78909C;

$color-green: #00E676;
$color-red: #FF1744;

html {
    font-size: 20px;
}
body {
    background-color: $color-body;
    color: $color-white;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1;
}

h1,
h2 {
    font-family: 'Staatliches', cursive;
    margin: 0;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2rem;
}
a {
    color: $color-link;
    font-weight: bold;
    text-decoration: none;
}

header, main, footer {
    > section {
        width: 900px;
        max-width: 99%;
        margin: 0 auto;
        padding: 1rem 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
main > section {
    margin-top: 1rem;
    margin-bottom: 1rem;

    background-color: $color-grey;
    color: $color-black;
}

.form {
    $self: &;
    display: flex;
    flex-direction: column;

    #{$self}__section {
        display: block;
        margin: .5rem;
    }

    #{$self}__field-container {
        position: relative;
        &--with-icon {
            #{$self}__field:not(#{$self}__field--display) {
                padding-left: 1.75rem;
            }
        }
    }

    #{$self}__field,
    #{$self}__button {
        padding: .5rem 1rem;
        border: 1px solid transparent;
        border-radius: .2rem;
    
        &--fill {
            width: 100%;
        }
    }

    #{$self}__field {
        background-color: $color-white;
        border-color: $color-black;
        color: $color-black;
    
        &:focus {
            outline: none;
            &:not(#{$self}__field--error) {
                border-color: $color-body;
                box-shadow: 0 5px 5px rgba($color-body, .2);
            }
        }

        &--display {
            padding: .25rem;
            
            &:not(:focus):not(#{$self}__field--error) {
                cursor: pointer;
                background: transparent;
                color: $color-link;
                border-color: transparent;
            }
        }

        &--error {
            border-color: $color-red;
            &:focus {
                box-shadow: 0 5px 5px rgba($color-red, .2);
            }
        }
        &--success {
            border-color: $color-green;
        }        
    }

    #{$self}__field__icon {
        position: absolute;
        top: 50%;
        left: .5rem;
        font-size: 1rem;
        line-height: 0;
        transform: translateY(50%);
    }
    
    #{$self}__button {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        padding-top: .75rem;
        padding-bottom: .75rem;

        background-color: $color-action;
        color: $color-white;
    
        &, &__icon {
            line-height: 1.5;
        }
    }
    #{$self}__button__icon {
        display: inline-block;
        margin-right: .25rem;
        font-size: 1em;
    }

    &[disabled] #{$self}__button {
        background-color: $color-disabled;
    }
}
label {
    display: block;
    margin-bottom: .2rem;
    font-size: .7rem;
}

#shortened, #result {
    display: none;
}

.preamble {
    margin-right: .5rem;
}

.url {
    font-weight: normal;

    &__part--auth {
        display: none;
    }
    &__part--hostname {
        font-weight: bold;
    }
}