$color-black: #02000D;
$color-blue: #3C56A6;
$color-green: #3CA656;
$color-light: #D0E9F2;
$color-white: #F0F9FF;
$color-red: #8C1C03;

html {
    font-size: 20px;
}

body {
    background-color: $color-light;
    color: $color-black;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1;
}

h1,
h2 {
    font-family: 'Staatliches', cursive;
    margin: 0;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2rem;
}
a {
    color: $color-blue;
    font-weight: bold;
    text-decoration: none;
}

header, main, footer {
    > section {
        width: 600px;
        max-width: 99%;
        min-height: 5rem;
        margin: 0 auto;    
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

header, footer {
    background-color: $color-white;
    section {
        p, h1 {
            line-height: 1;
            margin: 0;
            width: 100%;
        }
    }
}
main > section {
    padding: 3rem 0;
}
footer > section {
    text-align: center;
}

input, select, button {
}

.form {
    $self: &;
    display: flex;
    flex-direction: column;

    #{$self}__section {
        display: block;
        margin: .5rem;
    }

    #{$self}__field-container {
        position: relative;
        &--with-icon {
            #{$self}__field:not(#{$self}__field--display) {
                padding-left: 1.75rem;
            }
        }
    }

    #{$self}__field,
    #{$self}__button {
        padding: .5rem 1rem;
        border: 1px solid transparent;
        border-radius: .2rem;
    
        &--fill {
            width: 100%;
        }
    }

    #{$self}__field {
        background-color: $color-white;
        border-color: $color-black;
        color: $color-black;
    
        &:focus {
            outline: none;
            &:not(#{$self}__field--error) {
                border-color: $color-blue;
                box-shadow: 0 5px 5px rgba($color-blue, .2);
            }
        }

        &--display {
            padding: .2rem;
            padding-left: 0;
            
            &:not(:focus):not(#{$self}__field--error) {
                cursor: pointer;
                background: transparent;
                color: $color-blue;
                border: none;
            }
        }

        &--error {
            border-color: $color-red;
            &:focus {
                box-shadow: 0 5px 5px rgba($color-red, .2);
            }
        }
        &--success {
            border-color: $color-green;
        }        
    }

    #{$self}__field__icon {
        position: absolute;
        top: 50%;
        left: .5rem;
        font-size: 1rem;
        line-height: 0;
        transform: translateY(50%);
    }
    
    #{$self}__button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: $color-black;
        color: $color-white;
    
        &, &__icon {
            line-height: 1.5;
        }
    }
    #{$self}__button__icon {
        display: inline-block;
        margin-right: .25rem;
        font-size: 1em;
    }

    &[disabled] #{$self}__button {
        background-color: rgba($color-black, .4);
    }
}
label {
    display: block;
    margin-bottom: .2rem;
    font-size: .7rem;
}

#shortened, #result {
    display: none;
}

.preamble {
    margin-right: .5rem;
}

.url {
    font-weight: normal;

    &__part--auth {
        display: none;
    }
    &__part--hostname {
        font-weight: bold;
    }
}