@include critical {
    .page {
        @include padding(1);

        &__title {
            color: var(--color-white);
        }

        &__intro {
            color: var(--color-white-secondary);
            p {
                @extend %font--large;
                @include margin-y(.5, 1);
            }
        }
        &__body {
            color: var(--color-white);
        }
    }

    h3 {
        color: var(--color-white-secondary);
    }

    .slices {
        border-top: 1px dashed var(--color-white-secondary);
    }


    .pricing {
        @include margin-top(1);
        @include padding(1);

        &__levels {
            @extend %flex,
            %flex--justify-stretch,
            %flex--align-stretch;
            width: 100%;

            @include mobile-only {
                flex-direction: column;
            }
        }

        &__level {
            @extend %flex,
            %flex--column,
            %flex--justify-stretch,
            %flex--align-stretch;

            @include padding-y(1);

            @include desktop-only {
                @include flex-item-width(33%);
                @include margin-right(1);
            }

            @include mobile-only {
                @include flex-item-width(100%);

                &:nth-child(even) {
                    @include margin-x(-.5);
                }
            }

            &:nth-child(even) {
                @include padding-x(1);
                background-color: var(--color-dark-red);
            }

            .level {
                &__title {
                    margin: 0;
                }

                &__description {
                    flex-grow: 2;
                }
            }
        }
    }
}