doctype html
html
    head
        if subtitle
            title #{title}: #{subtitle}
        else
            title #{title}
        block head
    body
        header
            section
                h1 #{title}
        main
            section
                block content

        footer
            section
                p Copyright &copy; 2020
                    a(href="//kalle.surf", target="_blank")  Kalle R&auml;is&auml;nen.

        link(rel="stylesheet", href="/css/style.css")

        // Start CDN
        script(src="//unpkg.com/unfetch/polyfill")
        link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Lexend+Deca|Staatliches&display=swap")
        link(rel="stylesheet", href="//fonts.googleapis.com/icon?family=Material+Icons")
        // end CDN

        block scripts
