@include critical {
    :root {
        --color-red: #{get-color(red)};
        --color-white-secondary: #{get-color(white-secondary)};
        --color-black: #{get-color(black)};
        --color-black-secondary: #{get-color(black-secondary)};
    
        --color-white: #{get-color(white)};
        --color-white-secondary: #{get-color(white-secondary)};
        --color-red: #{get-color(red)};
        --color-dark-red: #{get-color(dark-red)};

        --color-orange: #{get-color(orange)};
        --color-yellow: #{get-color(yellow)};

        --color-success: #{get-color(success)};
        --color-error: #{get-color(error)};
    }
    [data-theme="dark"] {
        --color-red: #{get-color(text)};
        --color-white-secondary: #{get-color(text-secondary)};
        --color-black: #{get-color(background)};
        --color-black-secondary: #{get-color(background-secondary)};
    }
    
    html body {
        padding: 0;
        margin: 0;
        
        * {
            box-sizing: border-box !important;
        }
    }
}
