@import url('https://fonts.googleapis.com/css?family=Arvo|Grand+Hotel&display=swap');

$color-black: #02000D;
$color-blue: #3C56A6;
$color-green: #3CA656;
$color-light: #D0E9F2;
$color-red: #8C1C03;


html {
    font-size: 20px;
}

body {
    background-color: $color-blue;
    color: $color-light;
    line-height: 1.2;
}

body,
p,
form,
input,
button {
    font-family: 'Arvo', serif;
    font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Grand Hotel', cursive;
    line-height: 1;
}
h1 {
    font-size: 4rem;
}
a {
    color: $color-light;
    font-weight: bold;
    text-decoration: none;
}

header, main, footer {
    width: 600px;
    max-width: 99%;
    margin: 0 auto;
}