@import './common';

html {
    font-size: 20px;
}
body {
    background-color: $color-body;
    color: $color-white;
    line-height: 1.2;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', Helvetica, sans-serif;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
}
a {
    color: $color-link;
    font-weight: bold;
    text-decoration: none;
}

h1,
h2 {
    font-family: 'Staatliches', Helvetica, Arial, sans-serif;
    margin: 0;
    & > a {
        font: inherit;
        color: inherit;
    }
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2rem;
}
hr {
    margin: $space-x-large 0 $space-xx-large;
    border: 1px solid $color-white;
}

header, main, footer {
    width: 1020px;
    max-width: 99%;

    margin: 0 auto;
    > section {
        padding: $space-xx-large;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

header h1 {
    img {
        height: 120px;
        width:  140px;
        margin: -50px 0 -40px;
    }
}

main {

}

.d-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    > section {
        justify-content: flex-start;
        padding-bottom: $space-xx-large + $space-medium;
        background-color: $color-grey;
        border-radius: $border-radius;
        color: $color-black;
    }
    &.two-column {
        > section {
            &:first-child {
                border-radius: $border-radius $border-radius 0 0;
            }
            &:last-child {
                position: relative;
                justify-content: flex-start;
                background-color: $color-dark-grey;
                border-radius:  0 0 $border-radius $border-radius;

                h3 {
                    margin-bottom: $space-large;
                    a { color: $color-dark-link; }
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: -10px;
                    left: 0;
                    right: 0;
                    height: 10px;
                    width: 100%;
                    box-shadow: 0 10px 10px rgba($color-black, .2);
                }
            }    
        }
        @media screen and (min-width: 1000px) {
            flex-direction: row;
            > section {
                &:first-child {
                    border-radius: $border-radius 0 0 $border-radius;
                    flex-grow: 1;
                }
                &:last-child {
                    border-radius: 0 $border-radius $border-radius 0;
                    flex-grow: 0;
                    width: 300px;

                    &:before {
                        top: 0;
                        left: -10px;
                        right: auto;
                        bottom: 0;
                        height: 100%;
                        width: 10px;
                        box-shadow: 10px 0 10px rgba($color-black, .2);
                    }
    
                }
            }
        }
    }
}

.icon {
    @extend %icon;
}

.nav {
    $self: &;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    #{$self}__item {
        position: relative;
        display: inline-flex;

        justify-content: center;
        align-content: center;

        height: 60px;

        margin-left: $space-x-large;
        padding: $space-large;

        font-family: 'Lexend Deca', Helvetica, sans-serif;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1;

        color: $color-white;

        &, &:after {
            transition: all .3s;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 4px;

            background-color: $color-white;
            transform: translateX(-50%);
        }
        &--active, &:hover {
            &:after {
                width: 90%;
            }
        }

        &:hover {
            color: $color-link;
            transform: translateY(-1px);
            &:after {
                background-color: $color-link;
            }
        }

        .icon {
            margin-right: .2em;
        }
    }
}

footer .nav .nav__item {
    font-size: 1rem;
    text-transform: none;

    &:after {
        bottom: auto;
        top: 0;
        height: 1px;
    }
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: .5em 1em;

    background-color: $color-action;
    border: none;
    border-radius: 5px;
    color: $color-white;

    font-family: 'Lexend Deca', Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;

    transition: all .2s;

    .icon {
        margin-right: .2em;
    }

    &:hover,
    &:focus {
        box-shadow: 0 0 5px rgba($color-black, .4);
        transform: translateY(-1px);
    }

    &:disabled {
        background-color: $color-disabled;
    }
    &--small {
        font-size: .9em;
        padding: .4em .75em;
    }

    &--warning { background-color: $color-dark-link; }
    &--success { background-color: $color-green; }
    &--error { background-color: $color-red; }
}   
