$color-black: #000;
$color-white: #fff;

$color-body: #00838F;
$color-link: #FFAB91;
$color-dark-link: #FF5722;
$color-grey: #ECEFF1;
$color-dark-grey: #CFD8DC;

$color-action: #006064;
$color-disabled: #78909C;

$color-green: #00E676;
$color-red: #FF1744;

$space-small: .25rem;
$space-medium: .5rem;
$space-large: .75rem;
$space-x-large: 1rem;
$space-xx-large: 1.5rem;

$border-radius: 4px;

html {
    font-size: 20px;
}
body {
    background-color: $color-body;
    color: $color-white;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', Helvetica, sans-serif;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
}

h1,
h2 {
    font-family: 'Staatliches', Helvetica, Arial, sans-serif;
    margin: 0;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2rem;
}
a {
    color: $color-link;
    font-weight: bold;
    text-decoration: none;
}
hr {
    margin: $space-x-large 0 $space-xx-large;
    border: 1px solid $color-white;
}

header, main, footer {
    > section {
        width: 900px;
        max-width: 99%;

        margin: 0 auto;
        padding: $space-xx-large;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
main > section {
    background-color: $color-grey;
    border-radius: $border-radius;
    color: $color-black;
}

.icon {
    display: inline-block;


    font-family: 'Material Icons';
    font-size: 1.1em;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';

    color: inherit;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: .5em 1em;

    background-color: $color-action;
    border: none;
    border-radius: 5px;
    color: $color-white;

    font-family: 'Lexend Deca', Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;

    transition: all .2s;

    .icon {
        margin-right: .2em;
    }

    &:hover,
    &:focus {
        box-shadow: 0 0 5px rgba($color-black, .4);
        transform: translateY(-1px);
    }

    &:disabled {
        background-color: $color-disabled;
    }
    &--small {
        font-size: .9em;
        padding: .4em .75em;
    }

    &--warning { background-color: $color-dark-link; }
    &--success { background-color: $color-green; }
    &--error { background-color: $color-red; }
}   
 

.form {
    $self: &;
    display: flex;
    flex-direction: column;

    #{$self}__section {
        display: block;
        margin: $space-medium;
        &:nth-child(even) {
            background-color: $color-dark-grey;
            padding: $space-medium;
        }
    }

    #{$self}__field-container {
        position: relative;
        &--with-icon {
            #{$self}__field:not(#{$self}__field--display) {
                padding-left: $space-xx-large + $space-small;
            }
        }
        &--with-prefix {
            display: flex;
            justify-content: space-between;
            align-items: center;
            #{$self}__field {
                flex-grow: 1;
            }
        }
    }

    #{$self}__field,
    #{$self}__button {
        padding: $space-medium $space-x-large;
        border: 1px solid transparent;
        border-radius: $border-radius;
    
        &--fill {
            width: 100%;
        }
    }
    #{self}__field,
    #{self}__button,
    #{self}__field__icon,
    #{$self}__field__validation-message {
        transition: all .4s ease-in-out;
    }

    #{$self}__field {
        background-color: $color-white;
        border-color: $color-black;
        color: $color-black;
    
        &:focus {
            outline: none;
            box-shadow: 0 0 $space-large rgba($color-body, .4);

            &:not(.invalid) {
                border-color: $color-body;
            }
        }

        &--display {
            padding: $space-small;
            
            &:not(:focus):not(.invalid) {
                cursor: pointer;
                background: transparent;
                color: $color-dark-link;
                border-color: transparent;
                width: auto;
                & + #{$self}__field__icon--validation {
                    opacity: 0;
                }
            }
        }
    }

    #{$self}__field__icon {
        @extend .icon;

        position: absolute;
        top: 50%;
        left: $space-medium;

        line-height: 0;
        transform: translateY(50%);

        &--validation {
            opacity: 0;
            left: auto;
            right: $space-medium;
        }
    }
    
    #{$self}__button {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        padding-top: $space-large;
        padding-bottom: $space-large;

        background-color: $color-action;
        color: $color-white;

        cursor: pointer;
    
        &, &__icon {
            line-height: 1.5;
        }

        &:hover {
            box-shadow: 0 0 $space-large rgba($color-body, .2);
        }
    }
    #{$self}__button__icon {
        display: inline-block;
        margin-right: $space-small;
        font-size: 1em;
    }

    #{$self}__label {
        display: flex;
        margin-bottom: $space-small;
        font-size: .75rem;
        justify-content: space-between;

        &__sub-label {
            font-size: .6rem;
        }
    }

    &[disabled] #{$self}__button {
        background-color: $color-disabled;
    }

    #{$self}__field__validation-message {
        opacity: 0;
        margin-top: $space-small;
        font-size: .75rem;
        text-align: right;
    }

    #{$self}__section {
        &.valid {
            #{$self}__field, #{$self}__field:focus {
                border-color: $color-green;
            }
            #{$self}__field__icon {
                color: $color-green;
            }
        }
        &.invalid {
            #{$self}__field, #{$self}__field:focus {
                border-color: $color-red;
            }
            #{$self}__field, #{$self}__field__icon {
                color: $color-red;
            }
            #{$self}__field__validation-message {
                opacity: 1;
            }
        }
    }
}

#shortened, #result {
    display: none;
}

.preamble {
    margin-right: $space-medium;
}

.count-down {
    display: inline-block;
    margin-left: .5rem;
}

.url {
    font-weight: normal;

    &__part--auth {
        display: none;
    }
    &__part--hostname {
        font-weight: bold;
    }
}

.link-list {
    $self: &;

    #{$self}__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}