$color-black: #000;
$color-white: #fff;

$color-body: #00838F;
$color-link: #FFAB91;
$color-dark-link: #FF5722;
$color-grey: #ECEFF1;
$color-dark-grey: #CFD8DC;

$color-action: #006064;
$color-disabled: #78909C;

$color-green: #00E676;
$color-red: #FF1744;

$space-small: .25rem;
$space-medium: .5rem;
$space-large: .75rem;
$space-x-large: 1rem;
$space-xx-large: 1.5rem;

$border-radius: 4px;

$max-width: 1024px;
$wide-breakpoint: 999px;


%flex {
    $self: &;
    display: flex;

    &--direction-row {
        flex-direction: row;
    }
    &--direction-column {
        flex-direction: column;
    }
    &--align-center {
        align-items: center;
    }
    &--align-start {
        align-items: flex-start;
    }
    &--align-end {
        align-items: flex-end;
    }
    &--align-stretch {
        align-items: stretch;
    }

    &--justify-space-between {
        justify-content: space-between;
    }
    &--justify-center {
        justify-content: center;
    }
    &--justify-start {
        justify-content: flex-start;
    }
    &--justify-end {
        justify-content: flex-end;
    }
    &--justify-stretch {
        justify-content: stretch;
    }
}

%inline-flex {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

%icon {
    display: inline-block;

    font-family: 'Material Icons';
    font-size: 1.1em;
    font-weight: normal;
    font-style: normal;

    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';

    color: inherit;
}

%button {
    @extend %inline-flex;

    margin: 0;
    padding: .5em 1em;

    background-color: $color-action;
    border: none;
    border-radius: $border-radius;
    color: $color-white;

    font-family: 'Lexend Deca', Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;

    transition: all .25s;

    .icon {
        margin-right: .2em;
    }

    &:hover,
    &:focus {
        box-shadow: 0 0 5px rgba($color-black, .4);
        transform: translateY(-1px);
    }

    &:disabled {
        background-color: $color-disabled;
    }

    &--small {
        font-size: .9em;
        padding: .4em .75em;
    }

    &--warning {
        background-color: $color-dark-link;
    }

    &--success {
        background-color: $color-green;
    }

    &--error {
        background-color: $color-red;
    }
}
