@import './common';

.preamble {
    margin-right: $space-medium;
}

.count-down {
    display: inline-block;
    margin-left: .5rem;
}

.redirect {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.url {
    font-weight: normal;

    &__part--auth {
        display: none;
    }
    &__part--hostname {
        font-weight: bold;
    }
}
